/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */
/*'Roboto', sans-serif*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  max-width: 414px;
  margin: auto;
  font-family: 'Roboto', sans-serif;

  font-size: 1rem;
  line-height: 1.5rem;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}

/* ====================================
// base rules
// ==================================== */

header nav {
  font-size: 16px;
  text-decoration: none;
  padding-top: 20px;
  padding-bottom: 53px;
  padding-left: 9px;
  word-spacing: 16px;
}

header a {
  text-decoration: none;
}

h1 {
  font-size: 30px;
  font-weight: 400;
  padding-left: 9px;
  padding-bottom: 10px;
}

.location {
  font-size: 16px;
  padding-left: 9px;
  padding-bottom: 47px;
}

.modules {
  font-size: 12px;
  padding-left: 9px;
  line-height: 1.2;
  padding-bottom: 18px;
}

.structure {
  font-size: 12px;
  padding-left: 9px;
  line-height: 1.2;
  padding-bottom: 18px;
}

.photography {
  font-size: 12px;
  padding-left: 9px;
  line-height: 1.2;
  padding-bottom: 18px;
}

.second {
  font-size: 12px;
  padding-left: 9px;
  line-height: 1.2;
  padding-bottom: 18px;
}

.first-text {
  font-size: 16px;
  line-height: 1.6;
  padding-top: 55px;
  padding-bottom: 55px;
  padding-left: 7px;
  padding-right: 77px;
}

.third{
  text-align: center;
  font-size: 12px;
  padding-top: 24px;
  padding-bottom: 24px;
}

footer {
  background-color: black;
}

.locality {
  color: white;
  font-size: 12px;
  line-height: 1.2;
  padding-left: 7px;
  padding-top: 30px;
  padding-bottom: 22px;
}

.sources {
  font-size: 10px;
  color: white;
  padding-left: 7px;
  line-height: 1.2;
  padding-bottom: 38px;
}

.sources a {
  text-decoration: none;
}